.bg-image{
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    height: 65vh;
    position: relative;
}

.bg-image::before{
    content: "";
    background: url(https://plus.unsplash.com/premium_photo-1661331911412-330f2e99cf53?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
    background-size: cover;
    background-position: center top;
    height: 100%; 
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.heading{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bg-image h4{
    font-size: 2.4rem;
}

.bg-image p{
    font-size: 1.4rem;
    text-align: center;
}


@media screen and(max-width:640) {
    .bg-image h4{
    font-size: 2rem;
    } 
    
}